option_settings:
  - option_name: FCREPO_PATH
    value: scholars-prod
  - option_name: FCREPO_URL
    value: http://ec2-34-208-67-82.us-west-2.compute.amazonaws.com:8080/fcrepo
  - option_name: SECRET_KEY_BASE
    value: c80bd500515aecb641c4819117955493c909ba99fa83330c1da7cd8825f5811ccf8521273483c8dd40ae7d3fab29f74ee028c8f3cb83fb73152f0ba2f1188ec0
  - option_name: SOLR_URL
    value: http://ec2-34-210-28-127.us-west-2.compute.amazonaws.com:8983/solr/scholars-prod
  - option_name: EFS_REGION
    value: us-west-2
  - option_name: EFS_MOUNT_DIR
    value: /data
  - option_name: EFS_VOLUME_ID
    value: fs-965a8d3f
  - option_name: DATABASE_URL
    value: postgres://hydra.ckvl3s6r0raq.us-west-2.rds.amazonaws.com
  - option_name: DATABASE
    value: csuscholars
  - option_name: DATABASE_USER
    value: csuirdb
  - option_name: DATABASE_PASSWORD
    value: q4F4A4ua
  - option_name: DATA_PATH
    value: csuscholars
